<section class="about">
  <div class="about__container container">
    <div class="about__wrapper">
      <img src="./img/about-bgimg.png" srcset="./img/about-bgimg.png 1x, ./img/about-bgimg@2x.png 2x" class="about__bgimg">
      <img src="./img/about-bgimg-mobile.png" srcset="./img/about-bgimg-mobile.png 1x, ./img/about-bgimg-mobile@2x.png 2x"
        class="about__bgimg-mobile">
      <img src="./img/about-scroll.png" srcset="./img/about-scroll.png 1x, ./img/about-scroll@2x.png 2x" class="about__scroll-img">
      <img src="./img/about-scroll-mobile.png" srcset="./img/about-scroll-mobile.png 1x, ./img/about-scroll-mobile@2x.png 2x"
        class="about__scroll-img-mobile">
      <div class="about__scroll-title">About the Game</div>
      <div class="about__scroll-text">Alice's Mergeland is a captivating puzzle adventure set in a magical world inspired by classic fairy
        tales. Players merge items to discover new objects, solve puzzles, and restore the enchanting lands of Mergeland. Unfold mysteries,
        interact with whimsical characters, and help Alice on her journey to bring life back to her magical home</div>
      <img src="./img/line.png" srcset="./img/line.png 1x, ./img/line@2x.png 2x" class="line__img">
      <img src="./img/line-mobile.png" srcset="./img/line-mobile.png 1x, ./img/line-mobile@2x.png 2x" class="line__img-mobile">
    </div>
  </div>
</section>