<footer class="footer">
  <div class="container footer-container">
    <ul class="footer-links">
      <li class="footer-item">
        <a href="../privacy-policy-main.html" class="footer-link"
          >Privacy Policy</a
        >
      </li>
      <li class="footer-item">
        <a href="../terms-and-conditions-main.html" class="footer-link"
          >Terms and Conditions</a
        >
      </li>
    </ul>
    <div class="footer-text">
      <p class="footer-domain">proplayorbit.com</p>
      <p class="footer-copyright">© All rights reserved, 2025</p>
    </div>
  </div>
</footer>
