<section class="header">
  <div class="header__container">
    <div class="logo">
      <img src="./img/logo.png" srcset="./img/logo.png 1x, ./img/logo@2x.png 2x" class="logo__img">
    </div>
    <nav class="nav">
      <ul class="nav__links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About the Game</a></li>
        <li><a href="#meet-alice">Meet Alice</a></li>
        <li><a href="#how-to-play">How to Play</a></li>
        <li><a href="#features">Unique Features</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#reviews">Reviews</a></li>
      </ul>
    </nav>
    <img src="./img/sandwich.png" srcset="./img/sandwich.png 1x, ./img/sandwich@2x.png 2x" id="sandwich" class="header__sandwich" >
  </div>
</section>
