<section class="how-to-play">
  <div class="how-to-play__container container">
    <img src="./img/how-to-play-bgimg1.png" srcset="./img/how-to-play-bgimg1.png 1x, ./img/how-to-play-bgimg1@2x.png 2x"
      class="how-to-play__bgimg how-to-play__bgimg1">
    <img src="./img/how-to-play-bgimg2.png" srcset="./img/how-to-play-bgimg2.png 1x, ./img/how-to-play-bgimg2@2x.png 2x"
      class="how-to-play__bgimg how-to-play__bgimg2">
    <img src="./img/how-to-play-bgimg3.png" srcset="./img/how-to-play-bgimg3.png 1x, ./img/how-to-play-bgimg3@2x.png 2x"
      class="how-to-play__bgimg how-to-play__bgimg3">
    <img src="./img/how-to-play-bgimg4.png" srcset="./img/how-to-play-bgimg4.png 1x, ./img/how-to-play-bgimg4@2x.png 2x"
      class="how-to-play__bgimg how-to-play__bgimg4">
    <div class="how-to-play__title">How to Play</div>
    <div class="how-to-play__wrapper">
      <div class="how-to-play__block">
        <img src="./img/how-to-play-img1.png" srcset="./img/how-to-play-img1.png 1x, ./img/how-to-play-img1@2x.png 2x"
          class="how-to-play__img">
        <h2 class="how-to-play__block-title">Merge Items</h2>
        <p class="how-to-play__block-text">Drag and combine similar items to create something magical and new</p>
      </div>
      <div class="how-to-play__block">
        <img src="./img/how-to-play-img2.png" srcset="./img/how-to-play-img2.png 1x, ./img/how-to-play-img2@2x.png 2x"
          class="how-to-play__img">
        <h2 class="how-to-play__block-title">Explore the World</h2>
        <p class="how-to-play__block-text">Unlock new areas and uncover hidden surprises as you progress</p>
      </div>
      <div class="how-to-play__block">
        <img src="./img/how-to-play-img3.png" srcset="./img/how-to-play-img3.png 1x, ./img/how-to-play-img3@2x.png 2x"
          class="how-to-play__img">
        <h2 class="how-to-play__block-title">Solve Puzzles</h2>
        <p class="how-to-play__block-text">Use your merging skills to solve tricky challenges and restore beauty to Mergeland</p>
      </div>
      <div class="how-to-play__block">
        <img src="./img/how-to-play-img4.png" srcset="./img/how-to-play-img4.png 1x, ./img/how-to-play-img4@2x.png 2x"
          class="how-to-play__img">
        <h2 class="how-to-play__block-title">Unlock Characters</h2>
        <p class="how-to-play__block-text">Discover and interact with unique characters who help you on your journey</p>
      </div>
      <div class="how-to-play__block">
        <img src="./img/how-to-play-img5.png" srcset="./img/how-to-play-img5.png 1x, ./img/how-to-play-img5@2x.png 2x"
          class="how-to-play__img">
        <h2 class="how-to-play__block-title">Daily Rewards</h2>
        <p class="how-to-play__block-text">Log in daily for special bonuses and magical tools to aid your adventure</p>
      </div>
    </div>
  </div>
</section>
