<main class="main container">
  <div class="main__container">
    <img src="./img/main-logo.png" srcset="./img/main-logo.png 1x, ./img/main-logo@2x.png 2x" class="main__logo">
    <h1 class="main__text">Dive into a magical world and merge your way to wonder!</h1>
    <img src="./img/main-alica.png" srcset="./img/main-alica.png 1x, ./img/main-alica@2x.png 2x" class="main__alica">
    <a href="https://play.google.com/store/apps/details?id=com.hiplay.mergegames.mergeland.free" class="google__play">
      <div class="google__play-container">
        <img src="./img/main-google-play-logo.png" srcset="./img/main-google-play-logo.png 1x, ./img/main-google-play-logo@2x.png 2x"
          class="google__play-logo">
        <div class="google__play-wrapper">
          <p class="google__play-title">Play Now on</p>
          <p class="google__play-subtitle">Google Play</p>
        </div>
      </div>
    </a>
  </div>
</main>
<div class="line">
  <img src="./img/line@2x.png" class="line__img">
</div>