<section class="main">
  <div class="main__container container">
    <div class="main__wrapper">
      <img src="./img/main-page-cover-mobile.png" srcset="./img/main-page-cover-mobile.png 1x, ./img/main-page-cover-mobile@2x.png 2x"
        class="main__cover-mobile">
      <img src="./img/main-page-cover.png" srcset="./img/main-page-cover.png 1x, ./img/main-page-cover@2x.png 2x" class="main__cover">
      <img src="./img/main-logo.png" srcset="./img/main-logo.png 1x, ./img/main-logo@2x.png 2x" class="main__logo">
      <h1 class="main__text">Dive into a magical world and merge your way to wonder!</h1>
      <img src="./img/main-alica.png" srcset="./img/main-alica.png 1x, ./img/main-alica@2x.png 2x" class="main__alica">
      <img src="./img/main-alice-mobile.png" srcset="./img/main-alice-mobile.png  1x, ./img/main-alice-mobile@2x.png 2x"
        class="main__alica-mobile">
      <a href="https://play.google.com/store/apps/details?id=com.hiplay.mergegames.mergeland.free" class="google__play">
        <div class="google__play-container">
          <img src="./img/main-google-play-logo.png" srcset="./img/main-google-play-logo.png 1x, ./img/main-google-play-logo@2x.png 2x"
            class="google__play-logo">
          <div class="google__play-wrapper">
            <p class="google__play-title">Play Now on</p>
            <p class="google__play-subtitle">Google Play</p>
          </div>
        </div>
      </a>
      <img src="./img/line.png" srcset="./img/line.png 1x, ./img/line@2x.png 2x" class="line__img">
      <img src="./img/line-mobile.png" srcset="./img/line-mobile.png 1x, ./img/line-mobile@2x.png 2x" class="line__img-mobile">
    </div>
  </div>
</section>
