<section class="meet-alice">
  <div class="meet-alice__container container">
    <div class="meet-alice__title">Meet Alice</div>
    <div class="meet-alice__text">
      Alice, the protagonist, is a curious and determined adventurer with a knack for solving mysteries. Guided by her wit and courage, she explores the vast world of Mergeland to unlock its secrets and restore its beauty. Whether it’s merging magical artifacts or unraveling ancient riddles, Alice’s journey is a testament to resilience and imagination.

    </div>
    <div class="meet-alice__wrapper">
      <div class="meet-alice__block">
        <img src="./img/meet-alice-img1.png" srcset="./img/meet-alice-img1.png 1x, ./img/meet-alice-img1@2x.png 2x" class="meet-alice__img">
        <h2 class="meet-alice__block-title">Character Traits</h2>
        <p class="meet-alice__block-text">Brave, creative, and resourceful</p>
      </div>
      <div class="meet-alice__block">
        <img src="./img/meet-alice-img2.png" srcset="./img/meet-alice-img2.png 1x, ./img/meet-alice-img2@2x.png 2x" class="meet-alice__img">
        <h2 class="meet-alice__block-title">Special Ability</h2>
        <p class="meet-alice__block-text">Alice can summon a "Merge Boost" to help players clear challenging puzzles and uncover hidden treasures
        </p>
      </div>
      <div class="meet-alice__block">
        <img src="./img/meet-alice-img3.png" srcset="./img/meet-alice-img3.png 1x, ./img/meet-alice-img3@2x.png 2x" class="meet-alice__img">
        <h2 class="meet-alice__block-title">Fun Fact</h2>
        <p class="meet-alice__block-text">Alice keeps a magical diary where all the merging wonders and secrets are recorded for players to
          revisit</p>
      </div>
    </div>
  </div>
</section>
