<div id="modal" class="modal">
  <div class="modal-content">
    <span id="closeModal" class="close">
      <img src="./img/cross.png" srcset="./img/cross.png 1x, ./img/cross@2x.png 2x" alt="Close modal">
    </span>
    <img src="./img/logo.png" srcset="./img/logo.png 1x, ./img/logo@2x.png 2x" class="modal__logo_img">
    <ul class="modal__menu">
      <a href="#home"><li class="modal__menu-li">Home</li></a>
      <a href="#about"><li class="modal__menu-li">About the Game</li></a>
      <a href="#meet-alice"><li class="modal__menu-li">Meet Alice</li></a>
      <a href="#how-to-play"><li class="modal__menu-li">How to Play</li></a>
      <a href="#features"><li class="modal__menu-li">Unique Features</li></a>
      <a href="#gallery"><li class="modal__menu-li">Gallery</li></a>
      <a href="#reviews"><li class="modal__menu-li">Reviews</li></a>
    </ul>
  </div>
</div>


