<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-heading">Reviews</h2>
    <div class="reviews-collum">
      <ul class="reviews-list">
        <li class="reviews-item">
          <h3 class="reviews-name">WonderWeaver :</h3>
          <p class="reviews-paragraph">
            "Absolutely enchanting! The graphics and story are stunning, and
            merging items is so satisfying."
          </p>
        </li>
        <li class="reviews-item">
          <h3 class="reviews-name">PuzzlePro89 :</h3>
          <p class="reviews-paragraph">
            "A must-play for puzzle fans. Alice is a fantastic character, and
            the world-building is phenomenal."
          </p>
        </li>
        <li class="reviews-item">
          <h3 class="reviews-name">MergeFanatic :</h3>
          <p class="reviews-paragraph">
            "I love discovering new items and unlocking areas. This game is both
            relaxing and exciting!"
          </p>
        </li>
        <li class="reviews-item">
          <h3 class="reviews-name">FairyTaleGamer :</h3>
          <p class="reviews-paragraph">
            "A magical escape with challenging puzzles and a heartwarming
            story!"
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
