.about__container {
  width: 320px;
  height: 568px;
}

.about__wrapper {
  width: 320px;
  height: 568px;
  position: relative;
}

.about__scroll-img,
.about__bgimg {
  display: none;
}

.about__bgimg-mobile {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 568px;
}

.about__scroll-img-mobile {
  display: block;
  position: absolute;
  width: 288px;
  height: 512px;
  top: 33px;
  left: 16px;
}

.about__scroll-title {
  position: absolute;
  width: 200px;
  top: 80px;
  left: 60px;
  color: rgba(88, 52, 27, 1);
  font-family: "Luckiest Guy", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.about__scroll-text {
  position: absolute;
  top: 120px;
  left: 60px;
  color: rgba(49, 25, 9, 1);
  width: 200px;
  height: 336px;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .about__container {
    width: 1200px;
    height: 800px;
  }

  .about__wrapper {
    width: 1200px;
    height: 800px;
    position: relative;
  }

  .about__scroll-img-mobile,
  .about__bgimg-mobile {
    display: none;
  }

  .about__bgimg {
    display: block;
    position: absolute;
    width: 1200px;
    height: 800px;
  }

  .about__scroll-img {
    display: block;
    position: absolute;
    width: 640px;
    height: 540px;
    top: 140px;
    left: 280px;
  }

  .about__scroll-title {
    position: absolute;
    top: 230px;
    left: 418px;
    width: 364px;
    color: rgba(88, 52, 27, 1);
    font-family: "Luckiest Guy", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }

  .about__scroll-text {
    position: absolute;
    top: 290px;
    left: 418px;
    color: rgba(49, 25, 9, 1);
    width: 364px;
    height: 330px;
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
}
