.gallery {
  background: linear-gradient(360deg, #fffaf1 0%, #e5cb96 100%);
  padding: 20px 0;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.gallery-container {
  padding: 20px;
  overflow: hidden;
}

.gallery-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  display: flex;
  gap: 24px;
  overflow: visible;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.swiper-pagination-bullet {
  background-color: #4a4a4a;
  opacity: 0.5;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #e5cb96;
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .gallery {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  .gallery-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px;
  }

  .gallery-heading {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .swiper {
    grid-row: 2;
    grid-column: 1;
  }

  .swiper-wrapper {
    display: flex;
    gap: 24px;
    overflow: visible;
    justify-content: center;
  }

  .swiper-slide img {
    border-radius: 32px;
    width: 640px;
    height: 360px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .gallery-image {
    border-radius: 32px;
    width: 640px;
    height: 360px;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
  }
}
