.back-home {
  display: flex;
  align-items: center;

  padding: 12px 24px;
  background-color: #4d2b6f;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-family: 'Commissioner', sans-serif;
  transition: opacity 0.3s ease;
  width: 320px;
  margin: 0 auto;
}

.back-home:hover {
  opacity: 0.9;
}
@media screen and (min-width: 1200px) {
  .back-home {
    width: 1200px;
  }
}
