.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 56px;
  z-index: 1000;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  backdrop-filter: blur(1px);
  background: rgba(178, 65, 219, 0.5);
  }

.header__sandwich {
  position: absolute;
  top: 27px;
  right: 33px;
  cursor: pointer;
}

.header__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  margin-left: 30px;
}

.logo__img {
  display: block;
  width: 64px;
  height: 32px;
}

.nav {
  display: none;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 16px;
}

.nav__links li a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Commissioner', serif;
  text-decoration: none;
  color: rgba(255, 249, 239, 1);
  transition: opacity 0.3s ease;
  padding: 12px;
  }

.nav__links li a:hover {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #fff9ef;
  border-radius: 16px;
  padding: 12px;
}

.nav__links li a:active {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff;
}



@media screen and (min-width: 1200px) {
  .header {
    position: fixed;
    width: 1200px;
    height: 72px;
    background: rgba(77, 43, 111, 1);
  }

  .header__sandwich {
    display: none;
  }

  .nav {
    display: flex;
    margin-left: 115px;
  }

  .header__container {
    width: 1200px;
  }
}
