.meet-alice__wrap {
  position: relative;

}

.meet-alice__container {
  width: 320px;
  height: 1636px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(360deg, #fffaf1 0%, #e5cb96 100%);
}

.meet-alice__title {
  margin-top: 60px;
  text-align: center;
  font-family: "Luckiest Guy", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(88, 52, 27, 1);
}

.meet-alice__text {
  margin-top: 16px;
  width: 288px;
  height: 216px;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(49, 25, 9, 1);
}

.meet-alice__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meet-alice__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
}

.meet-alice__img {
  width: 288px;
  height: 288px;
}

.meet-alice__block-title {
  margin-top: 20px;
  width: 288px;
  font-family: "Commissioner", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  color: rgba(88, 52, 27, 1);
}

.meet-alice__block-text {
  margin-top: 8px;
  width: 288px;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(49, 25, 9, 1);
}

@media screen and (min-width: 1200px) {
  .meet-alice__container {
    width: 1200px;
    height: 1010px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(360deg, #fffaf1 0%, #e5cb96 100%);
  }

  .meet-alice__title {
    margin-top: 120px;
    text-align: left;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: rgba(88, 52, 27, 1);
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .meet-alice__text {
    margin-top: 20px;
    width: 700px;
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .meet-alice__block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .meet-alice__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    gap: 24px;
  }

  .meet-alice__img {
    width: 364px;
    height: 364px;
  }

  .meet-alice__block-title {
    margin-top: 20px;
    width: 364px;
    font-family: "Commissioner", sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 28.8px;
    text-align: center;
    color: rgba(88, 52, 27, 1);
  }

  .meet-alice__block-text {
    margin-top: 8px;
    width: 364px;
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgba(49, 25, 9, 1);
  }
}
