.p-p-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  margin-top: 36px;
  margin-bottom: 16px;
}
.p-p-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #311909;
  margin-bottom: 24px;
}
.privacy-policy-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 288px;
  margin: 0 auto;
  background-color: #fff9ef;
}
.p-p-info-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.p-p-name {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #58341b;
}

.p-p-item:not(:last-child) {
  margin-bottom: 24px;
}
.p-p-item:last-child {
  margin-bottom: 40px;
}
.p-p-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #311909;
}
.p-p-inner-list {
  list-style-type: disc;
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.p-p-link-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.p-p-disclosure-list {
  list-style-type: disc;
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.p-p-link {
  color: blue;
  text-decoration: underline;
}

.p-p-link:hover {
  color: darkblue;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .privacy-policy-container {
    width: 1140px;
  }
  .p-p-heading {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 24px;
    line-height: 1;
  }
  .p-p-paragraph {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .p-p-name {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .p-p-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .p-p-item:last-child {
    margin-bottom: 80px;
  }
  .p-p-description {
    font-size: 20px;
  }
  .p-p-inner-list {
    font-size: 20px;
  }
  .p-p-link-list {
    font-size: 20px;
  }
  .p-p-disclosure-list {
    font-size: 20px;
  }
}
