@import url('./common.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./about-the-game.css');
@import url('./meet-alice.css');
@import url('./how-to-play.css');
@import url('./unique-features.css');
@import url('./gallery.css');
@import url('./reviews.css');
@import url('./terms-and-conditions.css');
@import url('./privacy-policy.css');
@import url('./footer.css');

body:not(.privacy-page) .privacy-policy,
body:not(.conditions-page) .terms-and-conditions {
  display: none;
}

