.unique-features {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 320px;
}

.unique-features-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
.unique-features-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  margin-bottom: 72px;
  position: relative;
  z-index: 2;
  margin-top: 80px;
}

.unique-features-background-mobile {
  position: absolute;
  top: -1px;
  width: 320px;
  height: 1308px;
  object-fit: cover;
  z-index: -1;
}

.paper-scroll-background-mobile {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 110px;
  z-index: 1;
}
.paper-scroll-background,
.unique-features-background {
  display: none;
}
.unique-features-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 32px;
  margin-bottom: 55px;
  justify-content: center;
  width: 100%;
}

.features-item {
  border-radius: 20px;
  width: 288px;
  height: 152px;
  background: #fff9ef;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin: 0 auto;
}

.features-item:hover {
  transform: translateY(-2px);
}

.features-name {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 24px;
  color: #58341b;
}

.features-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;
  color: #311909;
}
.line_img-mobile {
  display: block;
  width: 320px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.line_img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .line_img-mobile {
    display: none;
  }
  .line_img {
    display: block;
    width: 1200px;
    margin-bottom: -2px;
  }
  .unique-features {
    padding: 0%;
  }

  .unique-features-container {
    width: 1200px;
    height: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .unique-features-heading {
    font-size: 40px;
    padding: 0;
    margin-top: 188px;
    margin-bottom: 56px;
  }

  .unique-features-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 753px;
  }

  .features-item:hover {
    transform: translateY(-2px);
  }

  .features-item {
    width: 235px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
    background: transparent;
    box-shadow: none;
    margin-bottom: 24px;
  }

  .features-name {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 800;
  }

  .features-paragraph {
    font-size: 20px;
    padding: 0;
    margin-bottom: 0;
    line-height: 1.5;
  }
  .unique-features-background-mobile,
  .paper-scroll-background-mobile {
    display: none;
  }
  .unique-features-background {
    display: block;
    position: absolute;
    top: 0;
    width: 1200px;
    height: 1000px;
    object-fit: cover;
    z-index: -1;
  }

  .paper-scroll-background {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 850px;
    z-index: -1;
  }
}
